@{
    ViewData["Title"] = "Patient Dashboard";
}

<div class="container mt-5">

    <h2>Patient Dashboard</h2>

    <div class="alert alert-primary mt-4">

        Welcome Patient ❤️

    </div>

</div>